{{!-- <body style="margin: 0;"> --}}
        <input id="anPageName" name="page" type="hidden" value="background"/>
        <div class="background">
                <div class="navbar">
                    <div class="bar">
                    </div>
                    <div class="menubutton">
                        <img src="/assets/images/background-menuicon@2x.png" class="menuicon" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                </div>
                <div class="bootcampers">
                    Bootcampers
                </div>
                <div class="card">
                    {{#each jobs}}
                        {{> jobs/jobs-block}}
                    {{/each}}
                </div>
        </div>