{{!-- <body style="margin: 0;"> --}}
        <input id="anPageName" name="page" type="hidden" value="background"/>
        <div class="background">
                <div class="navbar">
                    <div class="bar">
                    </div>
                    <div class="menubutton" id="dropdown">
                        {{!-- REDIRECTS LIKELY TO NOT WORK WITH HEROKU. ADD ROUTING CAPABILITIES TO FIX THIS --}}
                        <img src="/assets/images/background-menuicon@2x.png" class="menuicon" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="dropdown-content" id="hidden">
                            <a id="dropdown-text" href="http://localhost:6969/">Home</a>
                            <br>
                            <a id="dropdown-text" href="http://localhost:6969/seeJobs">See Job Postings</a>
                            <br>
                            <a id="dropdown-text" href="http://localhost:6969/postJobs">Post A Job</a>
                        </div>
                    </div>
                </div>
                <div class="bootcampers">
                    Bootcampers
                </div>
                <div class="wrap">
                    {{#each jobs}}
                        {{> jobs/jobs-block}}
                    {{/each}}
                </div>
        </div>

<script>
    function pageGo() {
        $(".menubutton").on("click", function() {
            if ($(".dropdown-content").attr("id") === "hidden") {
                    $(".dropdown-content").attr("id", "show");
            } else {
                $(".dropdown-content").attr("id", "hidden");
            }
        })
    }
    pageGo();
</script>