        <input id="anPageName" name="page" type="hidden" value="background"/>
                <div class="background1">
            {{!-- <div style="width: 100%; height: 100%; position:relative; margin:auto;"> --}}
                <div class="rectangle">
                </div>
                <div class="rectangle1">
                </div>
                <div class="emp-container">
                    <div class="emplyers-submit">
                    </div>
                    <div class="menubutton">
                        <img src="assets/images/background-menuicon@2x.png" class="menuicon" >
                        <div class="dropdown-content" id="hidden">
                            <a id="dropdown-text" href="http://localhost:6969/">Home</a>
                            <br>
                            <a id="dropdown-text" href="http://localhost:6969/seeJobs">See Job Postings</a>
                            <br>
                            <a id="dropdown-text" href="http://localhost:6969/postJobs">Post A Job</a>
                        </div>
                    </div>
                    <div class="camperswhocode">
                        Campers Who Code
                    </div>
                {{!-- </div> --}}
                <div class="landing">
                    <img src="assets/images/background-rectangle.png" class="rectangle2" >
                    <div class="developersthatspea">
                        Developers that speak your language
                    </div>
                    <div class="camperswhocode1">
                        Campers Who Code
                    </div>
                    <img src="assets/images/background-get-started-button.png" class="getstartedbutton" >
                    <div class="searchprojects">
                        Search Projects
                    </div>
                </div>
                <div class="latestclient">
                    <div class="whatwebuild">
                        What We Build
                    </div>
                    <div class="professionalwebsi">
                        + Professional Websites<br />+ Business Websites<br />+ Landing Pages
                    </div>
                    <div class="restaurantwebsite">
                        + Restaurant Websites<br />+ Informational Pages<br />+ E-Commerce
                    </div>
                    <img src="assets/images/background-line-2.png" class="line2">
                    <div class="button">
                        <div class="rectangle2">
                        </div>
                        <div class="gallery">
                            Gallery
                        </div>
                        <img src="assets/images/background-line-3@2x.png" class="line3" >
                        <img src="assets/images/background-rectangle 1@2x.png" class="rectangle11" >
                    </div>
                </div>
                <div class="weareexp">
                    <div class="rectangle2">
                    </div>
                    <div class="group">
                        <div class="experienced">
                            Experienced
                        </div>
                        <div class="developers">
                            developers
                        </div>
                        <div class="weare">
                            we are
                        </div>
                    </div>
                    <div class="loremipsumissimpl">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br /><br />It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. <br /><br />It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </div>
                    <img src="assets/images/background-line-2 1.png" class="line2">
                    <img src="assets/images/background-line-2 1.png" class="line2copy">
                </div>
                <div class="footer">
                    <div class="rectangle2">
                    </div>
                    <div class="youremailhere">
                        Your email here
                    </div>
                    <div class="subscribewithus">
                        Subscribe with us
                    </div>
                    <div class="group3">
                        <img src="assets/images/background-line-4@2x.png" class="line4" >
                        <img src="assets/images/background-path-2@2x.png" class="path2" >
                    </div>
                    <div class="group4">
                        <div class="facebook">
                            <img src="assets/images/background-path@2x.png" class="path" >
                        </div>
                        <div class="instagram">
                            <img src="assets/images/background-shape@2x.png" class="shape" >
                            <img src="assets/images/background-shape 1@2x.png" class="shape1" >
                            <img src="assets/images/background-path 1@2x.png" class="path" >
                        </div>
                        <div class="pinterest">
                            <img src="assets/images/background-path 2@2x.png" class="path">
                        </div>
                        <div class="twitter">
                            <img src="assets/images/background-path 3@2x.png" class="path" >
                        </div>
                    </div>
                    <div class="a2512018camperswhoc">
                        © 2019 Campers Who Code Rights Reserved.
                    </div>
                </div>
                <div class="group2">
                    <div class="a0touchwebsitesdev">
                        0 Touch Websites Development
                    </div>
                    <div class="group">
                        <div class="savetimeandhassle">
                            Save Time and Hassle
                        </div>
                        <div class="loremipsumdolorsi">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        </div>
                    </div>
                    <div class="group1">
                        <div class="talentedandafforda">
                            Talented and Affordable
                        </div>
                        <div class="loremipsumdolorsi">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        </div>
                    </div>
                    <img src="assets/images/background-line.png" class="line" >
                </div>
                <div class="group5">
                    <div class="a1">
                        <div class="getproposals">
                            Get Proposals
                        </div>
                        <div class="loremipsumdolorsi">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        </div>
                        <div class="group">
                            <img src="assets/images/background-fill-1 1@2x.png" class="fill1" >
                            <img src="assets/images/background-fill-2@2x.png" class="fill2" >
                            <img src="assets/images/background-fill-3 2@2x.png" class="fill3">
                            <div class="group7">
                                <img src="assets/images/background-group-7 1@2x.png" class="group71">
                            </div>
                            <img src="assets/images/background-fill-8 2@2x.png" class="fill8" >
                        </div>
                    </div>
                    <div class="a11">
                        <div class="setupameeting">
                            Set Up A Meeting
                        </div>
                        <div class="loremipsumdolorsi">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        </div>
                        <div class="group">
                            <img src="assets/images/background-fill-1 1@2x.png" class="fill1" >
                            <img src="assets/images/background-fill-2@2x.png" class="fill2" >
                            <img src="assets/images/background-fill-3 2@2x.png" class="fill3" >
                            <div class="group7">
                                <img src="assets/images/background-group-7 1@2x.png" class="group71">
                            </div>
                            <img src="assets/images/background-fill-8 2@2x.png" class="fill8" >
                        </div>
                    </div>
                    <div class="a12">
                        <div class="getyourwebiste">
                            Get Your Webiste!
                        </div>
                        <div class="loremipsumdolorsi">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        </div>
                        <div class="group">
                            <img src="assets/images/background-fill-1 1@2x.png" class="fill1" >
                            <img src="assets/images/background-fill-2@2x.png" class="fill2" >
                            <img src="assets/images/background-fill-3 2@2x.png" class="fill3" >
                            <div class="group7">
                                <img src="assets/images/background-group-7 1@2x.png" class="group71">
                            </div>
                            <img src="assets/images/background-fill-8 2@2x.png" class="fill8">
                        </div>
                    </div>
                </div>
                <img src="assets/images/background-1gl4picuesidie83u6tfqyg.png" class="a1gl4picuesidie83u6tfqyg">
                <img src="assets/images/background-0ngxgbnndx6iiwp8q.png" class="a0ngxgbnndx6iiwp8q">
            </div>
        
    </div>

<script>
    function pageGo() {
        $(".menubutton").on("click", function() {
            if ($(".dropdown-content").attr("id") === "hidden") {
                    $(".dropdown-content").attr("id", "show");
            } else {
                $(".dropdown-content").attr("id", "hidden");
            }
        })
    }
    pageGo();
</script>